@charset "UTF-8";
body,
section,
div,
nav,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  margin: 0;
  padding: 0; }

body {
  font-size: 15px;
  font-family: "Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;
  color: #333; }

section {
  padding: 120px 0;
  text-align: center; }

h1 {
  font-size: 40px;
  font-weight: normal; }

h2 {
  font-size: 60px;
  font-weight: normal;
  margin-bottom: 60px; }
  h2 span {
    padding: 0 10px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #F29364));
    background: linear-gradient(transparent 60%, #F29364 60%); }

h3 {
  font-size: 15px;
  margin-top: 40px;
  margin-bottom: 30px;
  letter-spacing: 1px; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #333; }

#wrapper {
  width: 1020px;
  margin: 0 auto; }

.btn {
  color: #fff;
  width: 180px;
  padding: 16px 0;
  text-align: center;
  background: #F29364; }

header {
  padding-top: 60px; }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    header ul li + li {
      margin-left: 30px; }

#main {
  text-align: left;
  padding: 0; }
  #main .intro {
    padding: 120px 0; }
  #main .fa-hand-paper {
    color: #FFC580; }
  #main strong {
    font-size: 60px; }
  #main ul {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #main ul li + li {
      margin-left: 30px; }
    #main ul svg {
      color: #fff;
      width: 26px;
      height: 26px;
      padding: 11px;
      background: #F29364;
      border-radius: 50%; }
  #main .toDown {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-decoration: none;
    padding-top: 60px;
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0); }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px); }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0); } }
@keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0); }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
            transform: rotate(-45deg) translate(-10px, 10px); }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0); } }
#about {
  padding: 100px 0;
  background: #f0f0f0;
  border: 20px solid #F29364; }
  #about .bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #about .aboutImg {
    margin-right: 60px; }
  #about .aboutSkill {
    text-align: left;
    line-height: 1.7; }
    #about .aboutSkill li {
      width: 19%;
      display: inline-block; }
      #about .aboutSkill li .skill {
        display: block; }
      #about .aboutSkill li .numbers {
        width: 12px;
        height: 12px;
        background: #d8d8d8;
        border-radius: 50%;
        display: inline-block; }
      #about .aboutSkill li .numbers.better {
        background: #666666; }

.tag {
  color: #ababab;
  background: #f0f0f0;
  padding: 5px 10px; }

.tag + .tag {
  margin-left: 15px; }

.works {
  display: table; }
  .works .description {
    text-align: left;
    display: table-cell; }
    .works .description .ttl {
      font-size: 40px;
      color: #F29364;
      margin-bottom: 60px; }
    .works .description .detail {
      margin-top: 60px;
      margin-bottom: 60px;
      line-height: 1.7; }
    .works .description .btns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .works .description .btn {
      margin-right: 30px; }
  .works .thumbnail {
    display: table-cell;
    vertical-align: middle; }

.works.odd .description,
.works.even .thumbnail {
  padding-right: 30px; }

.works.odd .thumbnail,
.works.even .description {
  padding-left: 30px; }

.works + .works {
  margin-top: 60px; }

#contact {
  padding-top: 0;
  padding-bottom: 60px; }
  #contact p {
    line-height: 1.7; }
  #contact .btn {
    display: block;
    margin: 60px auto; }
  #contact ul {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #contact li + li {
    margin-left: 30px; }
  #contact svg {
    color: #F29364;
    width: 26px;
    height: 26px;
    padding: 9px;
    background: #fff;
    border: 2px solid #F29364;
    border-radius: 50%; }

footer {
  text-align: center;
  padding-bottom: 60px; }

/*# sourceMappingURL=style.css.map */