@charset "UTF-8";
body,
section,
div,
nav,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  margin: 0;
  padding: 0; }

body {
  font-size: 15px;
  font-family: "Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;
  color: #333; }

section {
  padding: 120px 0;
  text-align: center; }

h1 {
  font-size: 40px;
  font-weight: normal; }

h2 {
  font-size: 60px;
  font-weight: normal;
  margin-bottom: 60px; }
  h2 span {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #F29364));
    background: linear-gradient(transparent 60%, #F29364 60%); }

h3 {
  font-size: 15px;
  margin-top: 40px;
  margin-bottom: 30px;
  letter-spacing: 1px; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #333; }

#wrapper {
  width: 1020px;
  margin: 0 auto; }

.btn {
  color: #fff;
  width: 180px;
  padding: 16px 0;
  text-align: center;
  background: #F29364; }

header {
  padding-top: 60px; }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    header ul li + li {
      margin-left: 30px; }

#main {
  text-align: left;
  padding: 0; }
  #main .intro {
    padding: 120px 0; }
  #main .fa-hand-paper {
    color: #FFC580; }
  #main strong {
    font-size: 60px; }
  #main ul {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #main ul li + li {
      margin-left: 30px; }
    #main ul svg {
      color: #fff;
      width: 26px;
      height: 26px;
      padding: 11px;
      background: #F29364;
      border-radius: 50%; }
  #main .toDown {
    text-align: center;
    display: block; }
    #main .toDown svg {
      width: 60px;
      height: 80px; }

#about {
  padding: 100px 0;
  background: #f0f0f0;
  border: 20px solid #F29364; }
  #about .bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #about .aboutImg {
    margin-right: 60px; }
  #about .aboutSkill {
    text-align: left;
    line-height: 1.7; }
    #about .aboutSkill li {
      width: 19%;
      display: inline-block; }
      #about .aboutSkill li .skill {
        display: block; }
      #about .aboutSkill li .numbers {
        width: 12px;
        height: 12px;
        background: #d8d8d8;
        border-radius: 50%;
        display: inline-block; }
      #about .aboutSkill li .numbers.better {
        background: #666666; }

.tag {
  color: #ababab;
  background: #f0f0f0;
  padding: 5px 10px; }

.tag + .tag {
  margin-left: 15px; }

.btn {
  margin-right: 30px;
  display: inline-block; }

.works {
  display: table; }
  .works .description {
    text-align: left;
    display: table-cell; }
    .works .description .ttl {
      font-size: 40px;
      color: #F29364;
      margin-bottom: 60px; }
    .works .description .detail {
      margin-top: 60px;
      margin-bottom: 60px;
      line-height: 1.7; }
  .works .odd .description {
    padding-right: 30px; }
  .works .thumbnail {
    display: table-cell;
    vertical-align: middle; }

/*# sourceMappingURL=style.css.map */