@charset "utf-8";

// Variables
$bigSpace: 120px 0;
$normalSpace: 60px;

body,
section,
div,
nav,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: "Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo,
    Osaka, sans-serif;
  color: #333;
}

section {
  text-align: center;
}

h1 {
  font-size: 40px;
  font-weight: normal;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

#wrapper {
  width: 1020px;
  margin: 0 auto;
}

// Header
header {
  padding-top: $normalSpace;
  ul {
    display: flex;
    justify-content: flex-end;
    li + li {
      margin-left: 30px;
    }
  }
}

// section#main
#main {
  text-align: left;
  .intro {
    padding: $bigSpace;
  }
  .fa-hand-paper {
    color: #FFC580;
  }
  strong {
    font-size: 60px;
  }
  ul {
    margin-top: $normalSpace;
    display: flex;
    li + li {
      margin-left: 30px;
    }
    svg {
      color: #fff;
      width: 26px;
      height: 26px;
      padding: 11px;
      background: #F29364;
      border-radius: 50%;
    }
  }
  .toDown {
    text-align: center;
    display: block;
    svg {
      width: 60px;
      height: 80px;
    }
  }
}
