@charset "utf-8";
// Variables
$section-spacing: 4rem 0;
$color-main: #f29364;
$color-base: #f0f0f0;
$text-color-main: #333;


body {
    color: $text-color-main;
    font-family: "Avenir Next", "Helvetica neue", "Verdana";
}

header,
section {
    padding: $section-spacing;
}

h1 {
    font-size: 3rem;
    font-weight: normal;
}

.sub {
    h1 {
        color: $color-main;
        font-weight: bold;
    }
    h2 {
        font-size: 3rem;
        text-align: left;
        text-transform: none;
    }
    h4 {
        margin: 0 0 0.5rem;
        letter-spacing: normal;
        text-transform: none;
    }
}

h2 {
    margin-bottom: 4rem;
    font-size: 4rem;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    span {
        padding: 0 1rem;
        background: linear-gradient(transparent 60%, $color-main 60%);
    }
}

h3 {
    color: $color-main;
    font-size: 2rem;
}

h4 {
    margin: 2rem 0 1rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

a {
    color: $text-color-main;
    text-decoration: none;
    &:hover {
        opacity: 0.7;
        transition: 0.5s;
    }
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 0;
    &.btn-primary {
        background: $color-main;
        border-color: $color-main;
        &:hover {
            background: $color-main;
            border-color: $color-main;
        }
    }
    &.btn-secondary {
        color: $color-main;
        background: #fff;
        border-color: $color-main;
        &:hover {
            color: $color-main;
            background: #fff;
            border-color: $color-main;
        }
    }
}

.sns {
    &_item {
        a {
            width: 50px;
            height: 50px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $color-main;
            border-radius: 50%;
            i {
                color: #fff;
                font-size: 1.5rem;
            }
        }
        & + .sns_item {
            margin-left: 1.5rem;
        }
        &.outline {
            a {
                background: #fff;
                border: 2px solid $color-main;
                i {
                    color: $color-main;
                }
            }
        }
    }
}


// Navigation
nav {
    text-align: right;
    a {
        text-transform: uppercase;
        & + a {
            margin-left: 2rem;
        }
    }
}


// Intro
#intro {
    h1 {
        line-height: normal;
        i {
            color: #ffc580;
            transform: rotate(20deg);
        }
        strong {
            font-size: 4rem;
        }
    }
    .sns {
        padding: $section-spacing;
    }
    .toDown {
        height: 80px;
        text-align: center;
        position: relative;
        a {
            width: 30px;
            height: 30px;
            border-left: 1px solid #333;
            border-bottom: 1px solid #333;
            position: absolute;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-animation: sdb 2s infinite;
            animation: sdb 2s infinite;
        }
    }
    @-webkit-keyframes sdb {
        0% {
            -webkit-transform: rotate(-45deg) translate(0, 0);
        }
        20% {
            -webkit-transform: rotate(-45deg) translate(-10px, 10px);
        }
        40% {
            -webkit-transform: rotate(-45deg) translate(0, 0);
        }
    }
    @keyframes sdb {
        0% {
            transform: rotate(-45deg) translate(0, 0);
        }
        20% {
            transform: rotate(-45deg) translate(-10px, 10px);
        }
        40% {
            transform: rotate(-45deg) translate(0, 0);
        }
    }
}


// About Me
#about {
    background: $color-base;
    border: 20px solid $color-main;
    .circle {
        width: 12px;
        height: 12px;
        display: inline-block;
        background: #d8d8d8;
        border-radius: 50%;
        & + .circle {
            margin-left: 0.125rem;
        }
        &.filled {
            background: #666;
        }
    }
}


// Works
#works {
    .works_item {
        p {
            margin: 1.75rem 0;
            line-height: 1.7;
            strong {
                margin-top: 0.25rem;
                display: block;
            }
        }
        .btn + .btn {
            margin-left: 0.75rem;
        }
        & + .works_item {
            margin-top: 4rem;
        }
    }
}


// contact
#contact {
    text-align: center;
    background: $color-base;
    p {
        line-height: 1.7;
    }
}


// Footer
footer {
    padding: 2rem;
}


// Sub
#workIntro .container,
#workDetail .container,
#workOther .container {
    max-width: 960px;
}

.work_detail-item {
    & + .work_detail-item {
        margin-top: 4rem;
    }
    &_design {
        i {
            color: #ffc580;
        }
        & + .work_detail-item_design {
            margin-top: 4rem;
        }
    }
}

#workOther {
    ul {
        li {
            color: #fff;
            font-size: 3rem;
            opacity: .8;
            position: absolute;
            top: 40%;
            cursor: pointer;
            &#next {
                right: 0;
            }
            &:hover {
                opacity: .7;
            }
        }
    }
}
