@charset "utf-8";
// Variables
$section-spacing: 4rem 0;
$block-spacing: 2rem 0;
$color-main: #f29364;
$color-base: #f5f2ed;
$text-color-main: #333;


body {
    color: $text-color-main;
    font-family: "Montserrat", sans-serif;;
    background: #ebe6df;
}

header,
section {
    padding: $section-spacing;
}

h1 {
    font-size: 3rem;
    font-weight: normal;
}

.sub {
    h1 {
        color: $color-main;
        font-weight: bold;
    }
    h2 {
        font-size: 3rem;
        text-align: left;
        text-transform: none;
    }
    h4 {
        margin: 0 0 0.5rem;
        letter-spacing: normal;
        text-transform: none;
    }
}

h2 {
    margin-bottom: 1rem;
    color: $color-main;
    font-weight: bold;
    text-transform: uppercase;
}

h4 {
    padding-top: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

p {
    line-height: 1.7;
}

a {
    color: $text-color-main;
    text-decoration: none;
    &:hover {
        color: $text-color-main;
        opacity: 0.7;
        transition: 0.5s;
    }
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 0;
    &.btn-primary {
        background: $color-main;
        border-color: $color-main;
        &:hover {
            background: $color-main;
            border-color: $color-main;
        }
    }
    &.btn-secondary {
        color: $color-main;
        background: #fff;
        border-color: $color-main;
        &:hover {
            color: $color-main;
            background: #fff;
            border-color: $color-main;
        }
    }
}

.icol {
    i {
        margin-right: .5rem;
    }
}

.icor {
    i {
        margin-left: .5rem;
    }
}

.color-indication {
    width: 18px;
    height: 12px;
    border-radius: 2px;
    &.navy {
        background: #282d3f;
    }
}

.sns {
    &_item {
        a {
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $color-main;
            border-radius: 50%;
            i {
                color: #fff;
                font-size: 2rem;
            }
        }
        & + .sns_item {
            margin-left: 2.5rem;
        }
        &.outline {
            a {
                background: #fff;
                border: 2px solid $color-main;
                i {
                    color: $color-main;
                }
            }
        }
    }
}


// Navigation
nav {
    text-align: right;
    a {
        &:hover {
            color: $text-color-main;
            border-bottom: 1px solid;
        }
        & + a {
            margin-left: 2rem;
        }
    }
}


// Intro
#intro {
    h1 {
        line-height: 1.5;
        i {
            color: #f8cc97;
        }
        strong {
            color: $color-main;
            font-size: 5rem;
        }
    }
    .sns {
        padding: $block-spacing;
    }
    .toDown {
        a {
            font-size: 3rem;
        }
    }
}


// About
#about {
    background: $color-base;
    .circle {
        width: 12px;
        height: 12px;
        display: inline-block;
        background: #d8d8d8;
        border-radius: 50%;
        & + .circle {
            margin-left: 0.125rem;
        }
        &.filled {
            background: #666;
        }
    }
    img {
        border-radius: 2rem;
    }
}


// Works
#works {
    .works_item {
        p {
            margin: 1.75rem 0;
            strong {
                margin-top: 0.25rem;
                display: block;
            }
        }
        .btn + .btn {
            margin-left: 0.75rem;
        }
        & + .works_item {
            margin-top: 4rem;
        }
    }
}


// contact
#contact {
    text-align: center;
    background: $color-base;
    p {
        line-height: 1.7;
    }
}


// Footer
footer {
    padding: 2rem;
}


// Sub
#workIntro .container,
#workDetail .container,
#workOther .container {
    max-width: 960px;
}

#workDetail {
    a {
        text-decoration: underline;
    }
}

.work_detail-item {
    & + .work_detail-item {
        margin-top: 4rem;
    }
    &_design {
        .fa-hand-point-up {
            color: #ffc580;
        }
        .fa-fire {
            color: #ed412e;
        }
        & + .work_detail-item_design {
            margin-top: 4rem;
        }
    }
    &.ui {
        img {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
    }
}

#workOther {
    ul {
        li {
            color: #fff;
            font-size: 3rem;
            opacity: .8;
            position: absolute;
            top: 40%;
            cursor: pointer;
            &#next {
                right: 0;
            }
            &:hover {
                opacity: .7;
            }
        }
    }
}
